.container{
    padding: 50px;
    border: 1px solid black;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.div2Button{
    display: flex;
    position: relative;
    
}
#ileri{
    position: absolute;
    right: 0%;
}

#geri{

}

a{
    text-decoration-line: none;
    color: black;
    border: 1px solid black;
    width: 50px;
    text-align: center;
    border-radius: 3px;
}
a:hover{
    background-color:lightyellow;
}